# 檢測模型的權重檔案路徑
weights: "D:\\Git\\robotlearning\\yolo_inference\\best.pt"


# 運行設備（可以是 'cpu' 或 'cuda'）
device: "cpu"

# 信心閾值，用於篩選模型檢測結果（0 到 1）
conf_thres: 0.70

# IOU 閾值，用於篩選框的重疊程度（0 到 1）
iou_thres: 0.45

# 顏色匹配閾值，用於確定顏色是否匹配（0 到 1）
color_match_threshold: 0.5

# 圖像尺寸（寬度, 高度），用於輸入模型的圖像大小
imgsz: [1280, 1280]

timeout: 1

# 預期的顏色順序，從左到右的檢測順序
expected_color_order:
  - "Red"
  - "Green"
  - "Orange"
  - "Yellow"
  - "Black"
  - "Black1"

# 顏色範圍，使用 HSV 色域表示，包含每個顏色的 HSV 上下界限
color_ranges:
  Red:
    - [[0, 88, 88], [18, 222, 173]]
    - [[90, 100, 100], [240, 255, 255]]
  Green:
    - [[17, 15, 0], [119, 172, 150]]
  Orange:
    - [[5, 100, 100], [12, 255, 255]]
  Yellow:
    - [[12, 100, 100], [25, 255, 255]]
  Black:
    - [[0, 0, 0], [180, 255, 50]]
  Black1:
    - [[0, 0, 0], [180, 255, 50]]
